
#container_clientes_icono_editar {
    height: 100%;
    background-color: #f5f5f4;
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    margin-top: 20px;
    margin-right: 10px;  
}
 img.editar-icono, img.eliminar-icono {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center; 
    padding:12px 5px;
    cursor: pointer; 
}
#container_clientes_icono_borrar {
    height: 100%;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:space-between; 
    margin-top: 20px;
    margin-right: 10px; 
}

/* -----------------------------------MODALS---------------------------------------- */

.clientes_politica_privacidad, .clientes_politica_privacidad_edit {
    padding: 0;
    margin: 10px 10px 10px -30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
    width: 20px;
    height: 20px;
    appearance: none;
    border: 2px solid #055778;
}
.clientes_politica_privacidad:checked, .clientes_politica_privacidad_edit:checked {
    background-color: #055778;
   
}

#persona, #empresa, #persona_edit, #empresa_edit {
    color: rgb(1, 12, 20);
}
#tipo, #tipo_edit > option:selected{
    color: #012d3e;
}


 #id_edit {
    padding: 0px;
    font-size: 18px;
    color: rgb(192, 26, 26);
    border-bottom: #fff 0px solid;
 }
 #titulo_edit {
    display: flex;
    flex-direction:row;
    justify-content:start;
    align-items: center; 
    padding: 0px;
 }
#cont_btn, #cont_btn_edit {
    display: flex;
    flex-direction:row;
    justify-content:end;
    align-items:start; 
    margin: -30px -40px 0px 0px;

 }