#separador {
  width: 100%;
  height: 20px;
margin-bottom: 20px;
  border-bottom: #c07254 1px solid;
}
#facturas_add {
  display: inline-block;
  width: 100%;
  margin: 20px;

}
#facturas_items_add {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#alta_facturas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height:80%;
}
.autocomplete {
    display: flex;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    text-align:center;
   
  }
  
  
  
  .autocomplete-results {
    display: none;
   /*  position: absolute; */
    width: 300px;
    top: 300px;
    margin-top: -2px;
    font-size: 1.3em;
    color: #2c5a82;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  .autocomplete-results li {
    margin: 0;
    padding: 0;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;
  }
  
  .autocomplete-results li:hover {
    background-color: #eee;
    color: rgb(151, 50, 6);
    cursor: pointer;
  }
.row3 {
  display: block;
    margin-bottom: 10px; /* Espacio entre filas */
}
.col3 {
  display: inline-block;
  width: 100%;
  margin: 5 10px 0px 10px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #5c6064;
}

#bloque-1 {
   
    width: 100%;
    
}
#bloque-2 {
    width: 100%;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    align-items:start;
    margin-bottom: 10px;
    padding: 5px;
    border: solid 1px #c07254;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
  
}
#bloque-2b {
   
    width: 100%;
   
}
#bloque-3 {
    padding-top: 10px;
   align-items: start;
    width: 100%;
    height: 70%;
    background-color: rgb(243, 243, 243);
}
#bloque-4 {
   
    width: 100%;
    height: 80px;
    border: solid 1px #c07254;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 5px;
    align-items: end;
    
}