body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color:transparent;
}
#plantilla_add {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content:start;
 
}
.plantilla_facturas, .plantilla_presupuestos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;

  margin:10px;
  padding: 20px;
  text-align: center;
}
.plantilla_facturas p, .plantilla_presupuestos p {
  font-size: 16px;
  color: #050100;
  font-weight: 400;
}
.plantilla_facturas .col2, .plantilla_presupuestos .col2 {
  font-size: 15px;
}
h4 {
  font-size: 15px;
}
a {
  text-decoration: none;
  color: #6b2f05;
}
#icono_imprimir img, #icono_pdf img{
  width: 20px;
  height: 20px;
} 
#separador_plantilla {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  border-bottom: #c07254 2px solid;
}
.container_plantilla_datos {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  background-image: url("../img/png/Poly.png");
  background-size:contain;
  background-position: center;
  background-repeat: repeat;
}
.inputPlantilla {
  height: 35px; 
  margin:0;
  padding: 5px 0px 10px 0px;
  border:none;
  background-color:transparent;
  align-items: center;
  justify-content: left;
  text-align:center;
  font-size: 17px;
  color: #00070e;
}
.col5 {
  border: 1px solid #c07254;
  height: 35px;
  margin: 0px;
  padding: 5px;
  
}
#separador {
  width: 100%;
  height: 20px;
  margin-bottom: 20px;
  border-bottom: #c07254 1px solid;
}
#facturas_add, #presupuestos_add{
  display: inline-block;
  width: 100%;
  margin: 20px;

}
#facturas_items_add, #presupuestos_items_add {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction:row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
#alta_facturas, #alta_presupuestos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}
.autocomplete_clientes, .autocomplete_servicios,  .autocomplete_stock {
    display: flex;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    text-align:center;
   
  }
  
  
  
  .autocomplete-results_clientes, .autocomplete-results_clientes_presupuestos, .autocomplete-results_servicios, .autocomplete-results_servicios_presupuestos, .autocomplete-results_stock, .autocomplete-results_stock_presupuestos {
    display: none;
   /*  position: absolute; */
    width: 300px;
    top: 300px;
    margin-top: -2px;
    font-size: 1.3em;
    color: #000508;
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  .autocomplete-results_clientes li, .autocomplete-results_servicios li, .autocomplete-results_stock li {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;
  }
  .autocomplete-results_clientes_presupuestos li, .autocomplete-results_servicios_presupuestos li, .autocomplete-results_stock_presupuestos li {
    cursor: pointer;
    margin: 0;
    padding: 0;
    border-right: 2px solid #eee;
    border-bottom: 2px solid #eee;
    border-left: 2px solid #eee;
  }
  
  .autocomplete-results_clientes li:hover, .autocomplete-results_servicios li:hover, .autocomplete-results_stock li:hover {
    background-color: #eee;
    color: rgb(151, 50, 6);
    cursor: pointer;
  }
  .autocomplete-results_clientes_presupuestos li:hover, .autocomplete-results_servicios_presupuestos li:hover, .autocomplete-results_stock_presupuestos li:hover {
    background-color: #eee;
    color: rgb(151, 50, 6);
    cursor: pointer;
  }
.row3 {
  display: block;
    margin-bottom: 10px; /* Espacio entre filas */
}
.col3 {
  display: inline-block;
  width: 100%;
  margin: 5 10px 0px 10px;
  padding: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  color: #5c6064;
}

.agregar-icono {
  height: 20px;
}
.estado-Pendiente {
  color: rgb(236, 75, 12);
  font-weight: 500;
}
.estado-Anulada {
  color: rgb(167, 152, 147);
  font-weight: 500;
}

.estado-Cobrada {
  color: rgb(11, 194, 226);
  font-weight: 500;
}
