@media print {
  /* Ocultar elementos no necesarios */
  #cerrar_plantilla,
  #icono_imprimir,
  #icono_pdf {
    display: none;
  }
  
  #plantilla_factura h4 {
    font-size: 10px;
  }
  
  
  /* Establecer el formato de página */
  @page {
    size: A4; /* Establecer el tamaño del papel */
    margin: 1cm; /* Establecer los márgenes de la página */
  }
  
  /* Ocultar el título de la página */
  title {
    display: none !important; /* Usamos !important para asegurarnos de que esta regla prevalezca */
  }
  
  /* Ocultar la URL */
  meta[name="url"] {
    display: none !important; /* Usamos !important para asegurarnos de que esta regla prevalezca */
  }

  
}
