@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "montserrat", sans-serif;
    background: transparent;
    height: 100vh;
    position: relative;

}
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content:start;
  align-items: center;
  background: transparent;

}
/*----------------- CONTENEDOR MAIN -----------------*/
#principal {
  width: 100%;
  height: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  align-items:start;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.9585084033613446) 1%,
    #045b76 95%
  );
}
/*----------------- CONTENEDOR GENERAL PRINCIPAL EX IFRAME --------------*/
.container_principal {
  height: 90%;
  width: 90%;
  background: transparent;
  border-radius: 10px;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 0px 20px 0px 20px;
}

.container_seccion {
  font-family: "montserrat", sans-serif;
  width: 100%;
  height: 90%;
  margin: 0px ;
  padding: 0px 10px 0px 10px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content:center;
  align-items: center;
  box-shadow: #012d3e 1px 1px 10px;
  border: solid 1px #0b7593;
  background: linear-gradient(
  180deg,
  rgba(255, 255, 255, 0.959) 1%,
  #057ca0 95%)
}
.container_seccion_interior {
  width: 100%;
    height: 80%;  
    border-radius: 10px;
    background:#ffffff;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    border: solid 1px #c6dfef;
    margin: 10px;
    padding:  10px;
}
#listado_clientes, .listado {
  font-family: "montserrat", sans-serif;
  width: 100%;
  height: 100%;  
  border-radius: 10px;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content:start;
  align-items: center;
  margin: 10px;
  padding:0px;
  overflow: auto;
}

img {
  height: 15px;
  cursor: pointer;
}

h4 {
  color: #93380b;
  font-family: "montserrat", sans-serif;
  font-weight: 500;
  font-size: 13px;
  margin:0;
}
/* ASIDE */

/*----------------- CONTENEDOR LOGO -----------------*/
#container_logo {
    width: 100%;
    height: 15%;
    margin-top: 10px;
    background-image: url(../img/avansat-logo-web-l.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  /*------------------- MENÚ NAVEGACIÓN IZQUIERDA --------------*/
  
  #contenedor {
    display: flex;
    position: relative;
    transition: all 0.9s linear;
  }
  
  #izq {
  font-family: 'montserrat', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 350px;
    height: 100%;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0.9585084033613446) 15%,
      rgb(158, 18, 8) 80%
    );
    box-shadow: #642401 2px 2px 5px;
    position: relative;
    transition: all 0.9s linear;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  #izq.active {
    width: 70px;
    transition: all 0.9s linear;
  }
  ul.active {
    display: none;
  }
  
  .toggle_boton {
    position: absolute;
    right: -1px; /* Posiciona el botón al borde derecho */
    top: 0px; /* Ajusta la posición vertical según sea necesario */
    margin-top: 20px;
    width: 20px; /* Ajusta el ancho del botón según sea necesario */
    height: 20px;
    cursor: pointer;
    transition: all 0.9s linear;
  }
  
  .active .toggle_boton {
    rotate: 180deg;
    transition: all 0.9s linear;
  }
  .active #container_logo {
    background-image: url("../img/favicon.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 0.9s linear;
  }
  .active #container_lista {
    background-color: transparent;
    margin-top: 0px;
    border: 0px;
    transition: all 0.9s linear;
  }
  .active #container_busqueda {
    display: none;
    transition: all 0.9s linear;
  }
  .active #mini_footer_izq {
    display: none;
    transition: all 0.9s linear;
  }
  .active #lista_acciones a {
  font-size: 0px;
    transition: all 0.9s linear;
  }
  
  #container_lista {
    width: 85%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    margin-top: 30px;
    border: solid 1px #f2cdba;
    transition: all 0.9s linear;
  }
  #lista_acciones {
    list-style: none;
    padding: 20px 0px 0px 0px;
    font-size: 16px;
    transition: all 0.9s linear;
  }
  #lista_acciones img {
    height: 20px;
    margin-right: 10px;
    transition: all 0.9s linear;
  }
  #lista_acciones li {
    margin: 15px;
    padding: 10px;
    background-color: #f6f9f5;
    border-radius: 0px 15px;
    box-shadow: 1px 1px 5px #c6c6c7;
    transition: all 0.9s linear;
    text-align: center;
  }
  
  #lista_acciones li a {
    text-decoration: none;
    color: rgb(121, 122, 126);
    transition: all 0.9s linear;
  }
  #lista_acciones li a:hover {
    color: #0a9fb3;
    transition: all 0.1s ease;
  }
  #lista_acciones li:hover {
    background-color: #f9f3f1;
    transition: all 0.1s ease;
  }
  #container_busqueda {
    width: 100%;
    height: 80px;
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgb(120, 121, 125);
    transition: all 0.9s linear;
  }
  #busqueda {
    width: 85%;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-size: 14px;
    outline: none;
    margin-top: 10px;
    background-color: #f7f5f4;
    border: solid 1px #f1dec8;
    transition: all 0.9s linear;
  }
  #container_busqueda img {
    height: 20px;
    margin-left: 10px;
    transition: all 0.9s linear;
  }
  
  /* FOOTER MINI IZQUIERDA */
  #mini_footer_izq {
    width: 100%;
    height: 40px;
    text-align: center;
    font-size: 12px;
    margin-top: 30px;
    color: rgb(255, 255, 255);
    transition: all 0.9s linear;
  }
  
/*----------------- BARRA NAVEGACIÓN SUPERIOR ---------------- */

#container_login {
    width: 30%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: rgb(121, 122, 126);
  }
  #container_login p {
    margin-right: 10px;
  }
  #container_login img {
    width: 20px;
    height: 20px;
  }
  .dropdownmenu {
    font-family: 'montserrat', sans-serif;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 1px 1px 5px #878d91;
    margin-top: 0px;
  }
  
  .dropdownmenu ul {
    background: transparent;
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .dropdownmenu li {
    color: #2d8d3d;
    position: relative;
  }
  
  .dropdownmenu img {
    height: 20px;
    margin-right: 10px;
    margin-left: 5px;
  }
  
  .dropdownmenu a {
    color: #878d91;
    display: block;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    -webkit-transition: all 0.25s ease;
    -moz-transition: all 0.25s ease;
    -ms-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    transition: all 0.25s ease;
  }
  
  .dropdownmenu li:hover a {
    color: white;
    background-color: #0798c4;
  }
  
  .dropdownmenu ul#submenu {
    position: absolute;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    z-index: 1;
  }
  
  .dropdownmenu li:hover > ul#submenu {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    visibility: visible;
  }
  
  #submenu li {
    float: none;
    width: 100%;
    margin-bottom: 1px;
    border: 6px solid #ffffff;
    background-color: transparent;
  }
  
  #submenu a:hover {
    background-color: #07a5d5;
    color: white;
    transition: all 0.25s ease;
  }
  
  #submenu a {
    background-color: #e9f1f5;
    color: #878d91;
  }
 /*  ------------------------------COLS & ROW------------------------------------------- */
.row {
    width: 100%;
    display: flex;
    justify-content:center;
    flex-direction: row;
    align-items:space-around; 

}
.row2 {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    text-align:center;


}
.col2 {
  width: 100%;
  display: flex;
  justify-content:space-around;
  align-items:center;
  text-align:center;
  margin: 0px;
  font-size: 13px;
  color: #054149;  
  padding:0px 10px;
  border-bottom: #5b1b02 solid 1px;
  height: 50px;
  font-weight: 400;
  padding: 5px;
}
.col {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items:center;
    text-align:center;

}
.col-100 {
    width: 100%;
}
.col-95 {
  width: 95%;
}
.col-90 {
  width: 90%;
}
.col-85 {
  width: 85%;
} 
.col-80 {
  width: 80%;
} 
.col-75 {
    width: 75%;
  
}
.col-70 {
    width: 70%;
   
}
.col-65 {
    width: 65%;
   
}
.col-60 {
    width: 60%;
   
}
.col-55 {
    width: 55%;
   
}
.col-50 {
    width: 50%;
   
}
.col-45 {
    width: 45%;
   
}
.col-40 {
    width: 40%;
   
}
.col-35 {
    width: 35%;
   
}
.col-30 {
    width: 33%;
   
}
.col-25 {
    width: 25%;
   
}
.col-20 {
    width: 20%;
   
}
.col-15 {
    width: 15%;
   
}
.col-10 {
    width: 10%;
}
.col-5 {
    width: 5%;
}
.col-3 {
    width: 3%;
}

/* -----------------------------------MODAL-------------------------- */
.modal {
    width: 80%;
    height: 80%;
    position: fixed;
    margin: 0 auto;
    text-align: center;
    top: 14%;
    left: 22%;
    z-index: 1;
    display:none;
    overflow: auto;

    
}
.modal_interior {
    font-family: "montserrat", sans-serif;
    width: 90%;
    height: 100%;
    margin: 0px;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    box-shadow: #012d3e 1px 1px 10px;
    border: solid 1px #db3208;
    background: linear-gradient(
    180deg,
    rgba(247, 250, 251, 0.959) 1%,
    #93100b 95%);
    overflow: auto;

    
}
.formulario {
    font-family: "montserrat", sans-serif;
    width: 100%;
    border-radius: 10px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-items: center;
    border: solid 1px #f3e0d8;
    margin: 0px;
    border-radius: 5px;
    padding: 0px 10px 30px 10px; 
    overflow: auto;
  
}
input {
  
    width: 90%;
    font-family: "montserrat", sans-serif;
    color: #055079;
    outline: 0;
    border: 0;
    margin:10px;
    padding: 5px;
    font-size: 16px;
    border-bottom:dotted 1px #025154;  
    display: flex;
    justify-content:space-around;
    align-items: center;
    text-align: center;
    background: rgb(255, 255, 255);
 

}
input:-webkit-text-fill-color {
  background-color:transparent !important;
  -webkit-text-fill-color: #feffff !important;
  -webkit-box-shadow: 0 0 0 30px transparent !important;
}
.btn {
    width: 100%;
    height: 40px;
    background-color: #0798c4;
    border: none;
    border-radius: 10px;
    font-family: "montserrat", sans-serif;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    color: rgb(255, 255, 255);
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px 10px 20px;
    margin: 20px 10px 0px 10px;
    box-shadow: #5f6368 1px 1px 5px;
}

.btn:hover {
    background-color: #0bb7eb;
}

label {
    color: #861d05;
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    text-align: center;
    margin-top: 0px;
  }
select {
    font-family: "montserrat", sans-serif;
    outline: 0;
    border: 0;
    padding: 5px;
    font-size: 16px;
    color: #035170;
    margin-top: -10px;

}
::placeholder {
    color: rgb(201, 208, 219);
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
}
h1 {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    color: rgb(2, 103, 128);
    padding-bottom: 40px;
    margin-left: 20px;
    margin-top: 30px;
}
h3 {
    font-family: "montserrat", sans-serif;
    font-style: normal;
    font-weight: 400;
    color: rgb(2, 103, 128);
    padding-bottom: 40px;
    text-align: left;
    margin-left: 40px;
   
}